<p style="color: green"><%= notice %></p>

<h1>Headsets</h1>

<div id="headsets">
  <% @headsets.each do |headset| %>
    <%= render headset %>
    <p>
      <%= link_to "Show this headset", headset %>
    </p>
  <% end %>
</div>

<%= link_to "New headset", new_headset_path %>
