<h1>Editing display monitor</h1>

<%= render "form", display_monitor: @display_monitor %>

<br>

<div>
  <%= link_to "Show this display monitor", @display_monitor %> |
  <%= link_to "Back to display monitors", display_monitors_path %>
</div>
