        <div class="grid-container">
            <div class="grid-item">
            <div class="list-group">
            <div class="dropend">
              <a class="dropdown-toggle list-group-item list-group-item-action" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Data Center
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">f</a></li>
                  <li><a class="dropdown-item" href="#">e </a></li>
                  <li><a class="dropdown-item" href="#">d</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
              </ul>
            </div>
  
            <div class="dropdown">
              <a class="dropdown-toggle list-group-item list-group-item-action" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  IT Assets
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">AIO</a></li>
                  <li><a class="dropdown-item" href="#">Monitor</a></li>
                  <li><a class="dropdown-item" href="#">Laptop</a></li>
                  <li><a class="dropdown-item" href="#">IP Phones</a></li>
                  <li><a class="dropdown-item" href="#">Smart Phones</a></li>
                  <li><a class="dropdown-item" href="#">Keyboard</a></li>
                  <li><a class="dropdown-item" href="#">Access Point</a></li>
                  <li><a class="dropdown-item" href="#">Mice</a></li>
                  <li><a class="dropdown-item" href="#">Headset</a></li>
                  <li><a class="dropdown-item" href="#">Printer</a></li>
              </ul>
            </div>
  
          </div>
            </div>
            <div class="grid-item">
                <div class="container">
                    <div class="child">
                    <h3>Asset Summary</h3>
                    <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                       
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <td>Larry </td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                    </div>

                    <div class="child">
                    <h3>Asset Status</h3>
                      <div class="row">
                        <div class="grid-item-2">All assets In Store</div>
                        <div class="grid-item-2">34</div>
                      </div>
                      <div class="row">
                        <div class="grid-item-2">Unassigned Workstation</div>
                        <div class="grid-item-2">0</div>
                      </div>
                      <div class="row">
                        <div class="grid-item-2">All Assets In Use</div>
                        <div class="grid-item-2">28</div>
                      </div>
                      <div class="row">
                        <div class="grid-item-2">All assets In Repair</div>
                        <div class="grid-item-2">0</div>
                      </div>
                    </div>
                </div>

                <div class="grid-container-2">
                <h3>DATA CENTER SUMMARY</h3>
                    <div class="grid-item-2">
                      <div class="row">
                        <div class="grid-item-2">Routers</div>
                        <div class="grid-item-2">34</div>
                      </div>
                      <div class="row">
                        <div class="grid-item-2">Switch</div>
                        <div class="grid-item-2">0</div>
                      </div>
                      <div class="row">
                        <div class="grid-item-2">Server</div>
                        <div class="grid-item-2">28</div>
                      </div>
                </div>
            </div>
          </div>