<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <div class="list-group">
          <div class="dropend">
            <a class="dropdown-toggle list-group-item list-group-item-action" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Data Center
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">f</a></li>
                <li><a class="dropdown-item" href="#">e </a></li>
                <li><a class="dropdown-item" href="#">d</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </div>

          <div class="dropdown">
            <a class="dropdown-toggle list-group-item list-group-item-action" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                IT Assets
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">AIO</a></li>
                <li><a class="dropdown-item" href="#">Monitor</a></li>
                <li><a class="dropdown-item" href="#">Laptop</a></li>
                <li><a class="dropdown-item" href="#">IP Phones</a></li>
                <li><a class="dropdown-item" href="#">Smart Phones</a></li>
                <li><a class="dropdown-item" href="#">Keyboard</a></li>
                <li><a class="dropdown-item" href="#">Access Point</a></li>
                <li><a class="dropdown-item" href="#">Mice</a></li>
                <li><a class="dropdown-item" href="#">Headset</a></li>
                <li><a class="dropdown-item" href="#">Printer</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-md-9">
        <div class="container">
            <div class="row" style="background-color:yellow">
                <div class="col" style="background-color:green"><h1>Welcome to My Dashboard</h1></div>
                <div class="col"><p>This is where you can view and manage your account information.</p></div>
            </div>
            <div class="row" style="background-color:blue">
                <div class="col" style="background-color:pink"><h1>Welcome to My Dashboard</h1></div>
                <div class="col"><p>This is where you can view and manage your account information.</p></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>
