<p style="color: green"><%= notice %></p>

<h1>Keyboards</h1>

<div id="keyboards">
  <% @keyboards.each do |keyboard| %>
    <%= render keyboard %>
    <p>
      <%= link_to "Show this keyboard", keyboard %>
    </p>
  <% end %>
</div>

<%= link_to "New keyboard", new_keyboard_path %>
