<h1>Editing smart phone</h1>

<%= render "form", smart_phone: @smart_phone %>

<br>

<div>
  <%= link_to "Show this smart phone", @smart_phone %> |
  <%= link_to "Back to smart phones", smart_phones_path %>
</div>
