<p style="color: green"><%= notice %></p>

<h1>Smart phones</h1>

<div id="smart_phones">
  <% @smart_phones.each do |smart_phone| %>
    <%= render smart_phone %>
    <p>
      <%= link_to "Show this smart phone", smart_phone %>
    </p>
  <% end %>
</div>

<%= link_to "New smart phone", new_smart_phone_path %>
